[package]
name = "fluvio-client-node"
version = "0.7.2"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]
license = "Apache-2.0"
repository = "https://github.com/infinyon/fluvio-client-node"
description = "Node JS Client for Fluvio"
readme = "REAMD.md"

[lib]
crate-type = ["cdylib"]
test = false

[dependencies]
log = "0.4.13"
serde = { version = "1.0.119", features = ["derive"] }
serde_json = "1.0.61"
node-bindgen = "5.0.0"
fluvio = { version = "0.8", features = ["admin"] }
fluvio-future = { version = "0.3.8", features = ["tls", "task", "io"] }

[build-dependencies]
node-bindgen = { version = "5.0.0", features = ["build"] }
