[package]
name = "fluvio-client-node"
version = "4.0.0"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]
license = "Apache-2.0"
repository = "https://github.com/infinyon/fluvio-client-node"
description = "Node JS Client for Fluvio"
readme = "REAMD.md"

[lib]
crate-type = ["cdylib"]
test = false

[dependencies]
log = "0.4.13"
serde = { version = "1.0.119", features = ["derive"] }
serde_json = "1.0.61"
node-bindgen = "4.1.0"
fluvio = { version = "0.5.1", features = ["admin"] }
fluvio-future = { version = "0.1.15", features = ["tls", "task", "io"] }

[build-dependencies]
node-bindgen = { version = "4.1.0", features = ["build"] }

[patch.crates-io]
fluvio = { path = "../fluvio/src/client" }
