name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
jobs:
  build_and_upload_artifacts:
    name: Publish Using github
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node: ['14']
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Install Stable Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install nj-cli build
        run: cargo install nj-cli

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'
      - name: Build package
        run: |
          node ./build.js --release

      - name: 'Upload Artifact - linux'
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: linux.index.node
          path: ./dist/linux/
          retention-days: 5

      - name: 'Upload Artifact - macos'
        uses: actions/upload-artifact@v2
        if: startsWith(matrix.os, 'macos')
        with:
          name: darwin.index.node
          path: ./dist/darwin/
          retention-days: 5

  publish-to-npm-with-artifacts:
    runs-on: [ubuntu-latest]
    needs: [build_and_upload_artifacts]
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Download linux.index.node
        uses: actions/download-artifact@v2
        with:
          name: linux.index.node
          path: ./dist/linux/

      - name: Download darwin.index.node
        uses: actions/download-artifact@v2
        with:
          name: darwin.index.node
          path: ./dist/darwin/

      - name: size of darwin file
        run: |
          du -hs dist/*/index.node

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ matrix.node }}
          registry-url: 'https://registry.npmjs.org'

      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH }}
        run: npm publish --access public
